<!DOCTYPE html>
<html>
  <head>
    <title> Mercado Liebre </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="header">
      <img src= "/../images/logo-mercado-liebre.svg" alt="logo mercadoliebre" width="50%" height="25%">
        <p>Barra de búsqueda <i class="fa fa-search"></i></p>
    </br>
    <p><i class="fa fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    <ul>
      <li><a href="url">Ofertas</a></li>
      <li><a href="url">Tiendas Oficiales</a></li>
      <li><a href="url">Vender</a></li>
      <li><a href="url">Ayuda</a></li>
    </ul>
  </br>
    <ul>
      <li><a href="url">Creá tu cuenta</a><i class="fa fa-id-card"></i></li>
      <li><a href="url">Ingresá</a><i class="fa fa-sign-in-alt"></i></li>
      <li><a href="url">Mis compras</a><i class="fa fa-shopping-cart"></i></li>
    </ul>
  </div>
  </br>
    <img src= "/../images/img-home-banner.jpg" width="50%" height="25%">
  <h3 class="titulares">Basado en tu última búsqueda</h3>
    <img src="/../images/img-cafetera-moulinex.jpg" alt="cafetera" width="45%" height="25%">
  </br>
  <i class="fa fa-truck fa-flip-horizontal"></i>
    <p class="precios">$6.770</p>
    <p class="descuentos">40% OFF</p>
    <p class="descripciones"><strong> Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</strong></p>
  </br>
    <img src="/../images/img-macbook-pro-2019.jpg" width="45%" height="25%">
  </br>
  <i class="fa fa-truck fa-flip-horizontal"></i>
    <p class="precios">$230.000</p>
    <p class="descuentos">20% OFF</p>
    <p class="descripciones"><strong>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</strong></p>
  </br>
    <img src="/../images/img-samsung-galaxy-s10.jpg" width="45%" height="25%">
  </br>
  <i class="fa fa-truck fa-flip-horizontal"></i>
    <p class="precios">$70.500</p>
    <p class="descuentos">15% OFF</p>
    <p class="descripciones"><strong>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</strong></p>
  </br>
    <img src="/../images/img-tv-samsung-smart.jpg" width="45%" height="25%">
  </br>
  <i class="fa fa-truck fa-flip-horizontal"></i>
    <p class="precios">$34.000</p>
    <p class="descuentos">5% OFF</p>
    <p class="descripciones"><strong>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</strong></p>
  </br>
    <p><strong>Pagá con tarjeta o en efectivo</strong></p>
  </br>
    <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de </br>
      pago. ¡Y siempre es seguro!
    </p>
  </br>
    <p><strong>Envío gratis desde los $ 2.500</strong></p>
  </br>
    <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de </br>
       productos. Es un beneficio de MercadoPuntos.
    </p>
  </br>
    <p><strong>Seguridad, de principio a fin</strong></p>
  </br>
    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer</br>
      porque estás siempre prtegid@.
    </p>
  </br>
    <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
  </body>  
</html>

