<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>

    

    <div class="loginForm">

      <header>
        <a href="/"><img class="logo" src="/../images/logo-mercado-liebre.svg" width="134px" height="34px"></a>
      </header>

      <div class="loginContainer">
        <h1>Inciar Sesión</h1>

      <% if (typeof errors != 'undefined') { %> 
        <div class="errors">
          <ul>
            <% for (let i = 0; i < errors.length; i++) { %> 
                <li><p><%= errors[i].msg%></p></li>
            <% } %>
          </ul>
        </div>
      <% } %>

      <form method="POST" action="/users/login">
          <input type="email" name="email" value="" placeholder="Email">
          <br>
          <input type="password" name="password" value="" placeholder="Password" id="myInput">
          <br>
          <input type="checkbox" onclick="myFunction()" class="checkbox">Show Password
          <script>
              function myFunction() {
              var x = document.getElementById("myInput");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
          </script>
          <input type="checkbox" class="checkbox"> Recordarme
          <br>
          <button type="submit">Iniciar</button>
          <br>
          <p><a href="/users/register">No tenés cuenta todavía? Registrarse</a></p>
      </form>
      </div>

    </div>
</body>
</html>