<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>

    

    <div class="loginForm">

      <header>
        <a href="/"><img class="logo" src="/../images/logo-mercado-liebre.svg" width="134px" height="34px"></a>
      </header>

      <h1>Inciar Sesión</h1>

      <form method="POST" action="/users/login">
          <input type="email" name="email" value="" placeholder="Email">
          <br>
          <input type="password" name="password" value="" placeholder="Password" id="myInput">
          <br>
          <input type="checkbox" onclick="myFunction()">Show Password
          <script>
              function myFunction() {
              var x = document.getElementById("myInput");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
          </script>
          <br>
          <input type="checkbox"> Recordarme
          <br>
          <button type="submit">Iniciar</button>
      </form>
    </div>
</body>
</html>