<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Add Product</title>
</head>

<%- include ./partials/header %>

<body>
    <h1>Añadir producto</h1>

    <form action="/products/create" method="POST">
        <input type="text" name="name" placeholder="Nombre del producto" value="">
        <br>
        <input type="file" name="img">
        <br>
        <input type="text" name="price" placeholder="$$$" value="">
        <br>
        <input type="text" name="cat" placeholder="Categoría" value="">
        <br>
        <input type="text" name="desc" placeholder="Decripción del producto" value="">
        <br>
        <button type="submit">Añadir</button>
    </form>
</body>
</html>